/work/Exported Project/nbproject/private/
/work/ExportedProject/nbproject/private/
/work/ExportedProject/build/
/work/ExportedProject/dist/
/dist/
/work/JFoenix/nbproject/private/
/work/JFoenix/dist/
/work/JFoenix/build/