/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 11:02:00 PM
    Author     : Saeid
*/

.edit_toolbar {
    -fx-spacing: 20;
    -fx-background-color: darkseagreen;
}


// CSS CLASS FOR PAGE EDITING BUTTONS
.tag_button {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 8 8 8 8;
}

// CSS CLASS FOR PANES TO FILL THEIR FULL REGION
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-padding: 15;
    -fx-background-color: #ccccff;
}

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #eae0e0;
    -fx-spacing: 20;
    -fx-border-color: #7777dd;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 15pt;
    -fx-font-weight:bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 13pt;
    -fx-font-weight:bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TEXT FIELDS AT UI PROMPTS
.prompt_text_field {
    -fx-font-size: 13pt;
}

.render_canvas {
    -fx-background-color:#e0eae1;
}

.combo_box {
    -fx-pref-width: 200;
}
